*.kld
.depend.mac_policy_ops.o
export_syms
i386
mac_policy_ops.ko
mac_policy_ops.o
machine
opt_global.h
test_program/fork_mac_open_read
test_program/getadd
test_program/open_etc_hosts
vnode_if.h
vnode_if_newproto.h
vnode_if_typedef.h
x86
*.out
